@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300&display=swap');

.menu {
    position: fixed;
    width: 1600px;
    height: 50px;
    list-style: none;
    margin: 0px;
    left: 0px;
    top: 0px;
    background: #5F2EEA;
}


li {
    float: left;
}

li a {
    display: block;
    color: #5F2EEA;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
}

li a:hover:not(.active) {
    background-color: #9c87d8a4;
    transition: all ease 0.5s;
}

button {
   position: fixed;
   left: 76%;
   top: 0%;
   bottom: 0%;
   background: #7F56F4;
   font-family: Helvetica;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   border: none;
   width: 155px;
   height: 50px;
   color: #ffffff;
}
.menu_2 {
    position: fixed;
    margin-top: 60px;
    margin-left: 210px;
    width: 1600px;
    line-height: 18px;
    list-style: none;
}
.logo {
    position: fixed;
    width: 144px;
    height: 20px;
    left: 90px;
    top: 75px;
    list-style: none;
}
.li_head {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
}
.logo1 {
    position: fixed;
    width: 144px;
    height: 20px;
    left: 860px;
    top: 75px;
    list-style: none;
}
.logo2 {
    position: fixed;
    width: 144px;
    height: 20px;
    left: 1200px;
    top: 75px;
    list-style: none;
}
.li_phone {
    display: block;
    position: fixed;
    width: 131px;
    height: 19px;
    left: 1235px;
    top: 79px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}
.logo3 {
    position: fixed;
    width: 22px;
    height: 18px;
    left: 1424px;
    top: 78px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
    color: #5F2EEA;
}
.li_logo {
    position: fixed;
    width: 22px;
    height: 18px;
    left: 1455px;
    top: 60px;
    list-style: none;
}
.container {
    position: fixed;
    width: 1600px;
    height: 639px;
    left: 0px;
    top: 167px;

    background: url(./img/Rectangle\ 1.png);
    mix-blend-mode: normal;
}
p {
    position: absolute;
    width: 632px;
    height: 126px;
    left: 126px;
    top: 85px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 89.6%;
    /* or 63px */
    
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
}
.container2 {
    position: absolute;
    width: 399px;
    height: 399px;
    left: 0px;
    top: 797px;
    
    background: url(./img/Rectangle\ 42.png);
}
.container3 {
    position: absolute;
    width: 399px;
    height: 399px;
    left: 399px;
    top: 797px;
    
    background: #FFFFFF;
    content: normal;
}
.pic {
        top: 20px;
}